# Credit Score Classification
## Projeto final Machine Learning - MBA Data Science & Artificial Intelligence (4DTSR)
 Kaggle: https://www.kaggle.com/datasets/parisrohan/credit-score-classification/data

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("display.max_rows", None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import seaborn as sns
import matplotlib.pyplot as plt

import scipy.stats as stats
import statistics

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_dict = pd.read_csv('./bases/dicionario_dados.csv', sep=';')
df_dict

,column,description_en,description_pt
0,ID,unique identification of an entry,identificação única de uma entrada
1,Customer_ID,unique identification of a person,identificação única de uma pessoa
2,Month,month of the year,o mês do ano
3,Name,name of a person,nome de uma pessoa
4,Age,age of the person,idade da pessoa
5,SSN,social security number of a person,número de segurança social de uma pessoa
6,Occupation,occupation of the person,ocupação da pessoa
7,Annual_Income,annual income of the person,renda anual da pessoa
8,Monthly_Inhand_Salary,monthly base salary of a person,salário base mensal da pessoa
9,Num_Bank_Accounts,number of bank accounts a person holds,número de contas bancárias que uma pessoa possui
10,Num_Credit_Card,number of other credit cards held by a person,número de outros cartões de crédito que uma pessoa possui
11,Interest_Rate,interest rate on credit card,taxa de juros no cartão de crédito
12,Num_of_Loan,number of loans taken from the bank,número de empréstimos tomados do banco
13,Type_of_Loan,types of loan taken by a person,tipos de empréstimos tomados por uma pessoa
14,Delay_from_due_date,average number of days delayed from the payment date,número médio de dias de atraso a partir da data de pagamento
15,Num_of_Delayed_Payment,average number of payments delayed by a person,número médio de pagamentos atrasados por uma pessoa
16,Changed_Credit_Limit,percentage change in credit card limit,porcentagem de mudança no limite do cartão de crédito
17,Num_Credit_Inquiries,number of credit card inquiries,número de consultas de crédito
18,Credit_Mix,classification of the mix of credits,classificação do mix de créditos
19,Outstanding_Debt,remaining debt to be paid (in USD),dívida restante a ser paga (em USD)
20,Credit_Utilization_Ratio,utilization ratio of credit card,taxa de utilização do cartão de crédito
21,Credit_History_Age,age of credit history of the person,idade do histórico de crédito da pessoa
22,Payment_of_Min_Amount,whether only the minimum amount was paid by the person,se apenas o valor mínimo foi pago (em USD)
23,Total_EMI_per_month,monthly EMI payments (in USD),total mensal dos EMIs investidos pela pessoa
24,Amount_invested_monthly,monthly amount invested by the customer (in USD),valor mensal investido pela pessoa (em USD)
25,Payment_Behaviour,payment behavior of the customer (in USD),comportamento de pagamento do cliente (em USD)
26,Monthly_Balance,monthly balance amount of the customer (in USD),saldo mensal médio da conta do cliente (em USD)

In [3]:
df_train = pd.read_csv('./bases/train.csv')

In [4]:
df_test = pd.read_csv('./bases/test.csv')

In [5]:
df_train.head(5)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",3,7,11.27,4.000,_,809.98,26.823,22 Years and 1 Months,No,49.575,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",-1,NaN,11.27,4.000,Good,809.98,31.945,NaN,No,49.575,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",3,7,_,4.000,Good,809.98,28.609,22 Years and 3 Months,No,49.575,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",5,4,6.27,4.000,Good,809.98,31.378,22 Years and 4 Months,No,49.575,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",6,NaN,11.27,4.000,Good,809.98,24.797,22 Years and 5 Months,No,49.575,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good